[submodule "Slime"]
	path = Slime
	url = git://github.com/nikodemus/Slime.git
[submodule "mo-git-blame"]
	path = mo-git-blame
	url = git://github.com/mbunkus/mo-git-blame.git
[submodule "auto-complete"]
	path = auto-complete
	url = http://cx4a.org/repo/auto-complete.git
[submodule "auto-complete-clang"]
	path = auto-complete-clang
	url = git://github.com/brianjcj/auto-complete-clang.git
[submodule "yasnippet"]
	path = yasnippet
	url = git://github.com/crazycode/yasnippet.git
[submodule "cucumber.el"]
	path = cucumber.el
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "emacs-w3m"]
	path = emacs-w3m
	url = git://github.com/sjatkinson/emacs-w3m.git
[submodule "emacs-flymake"]
	path = emacs-flymake
	url = git://github.com/wesen/emacs-flymake.git
[submodule "emacs-flymake-phpcs"]
	path = emacs-flymake-phpcs
	url = git://github.com/illusori/emacs-flymake-phpcs.git
[submodule "clojure-mode"]
	path = clojure-mode
	url = git://github.com/jochu/clojure-mode.git
[submodule "dvc"]
	path = dvc
	url = git://github.com/wesen/dvc.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "jquery-doc"]
	path = jquery-doc
	url = git://github.com/wesen/jquery-doc.el.git
[submodule "tumble"]
	path = tumble
	url = git://github.com/febuiles/tumble.git
